anki==2.1.49
aqt==2.1.49
attrs==21.4.0
beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
decorator==5.1.1
Flask==2.0.3
Flask-Cors==3.0.10
idna==3.3
importlib-metadata==4.11.3
importlib-resources==5.4.0
itsdangerous==2.1.1
Jinja2==3.0.3
jsonschema==4.4.0
Markdown==3.3.6
MarkupSafe==2.1.1
orjson==3.6.7
protobuf==3.19.4
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
PyQt5-stubs==5.15.2.0
PyQtWebEngine==5.15.5
PyQtWebEngine-Qt5==5.15.2
pyrsistent==0.18.1
PySocks==1.7.1
requests==2.27.1
Send2Trash==1.8.0
six==1.16.0
soupsieve==2.3.1
stringcase==1.2.0
urllib3==1.26.9
waitress==2.1.1
Werkzeug==2.0.3
zipp==3.7.0
